<!DOCTYPE html>
<html>
  <head>
    <title>Glimmer Girl Shoppe</title>
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  </head>


  <body>
<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
<p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>

<div class= "container">
  <data-spy="scroll" data-target=".navbar">
     <!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#index"> Home </a></li>
              <li><a href="about"> About </a></li>
              <li><a href="products"> Products </a></li>
              <li><a href="users"> My Account </a></li>
              <li><a href="static_pages/contact"> Contact Info </a></li> 
            </ul>

<ul class="nav pull-right">
  <li>
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
  </li>
</ul>

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> <!-- nav -->
          </div> <!-- end nav container-->
        </div>
    </nav> <!-- end navbar--> <br><br><br>


<div class= "pull-right">
<%= form_tag products_path, method: 'get' do %>
  <%= label_tag 'Search for:' %>
  <%= text_field_tag :q, nil, value: params[:q] %>
  <%= submit_tag 'Search' %>
<% end %></div>
<br> <br>

<div class = "image-girlshoppe">
<div><h2> <center>Glimmer Girl Shoppe </h2></center></div>
<center><%= image_tag("girls.jpg", :alt => "girls-pic", width: "1000", height:"300" ) %></center></div></h2><br>

 <%= yield %>


<footer> <br><br><br>

  &copy; 2017 Glimmer Girl Shoppe.
 <%= fa_stacked_icon "camera-retro", base: "square-o"%>

  <%= fa_stacked_icon "facebook-square", base: "square-o", class: "pull-right" %>
  <%= fa_stacked_icon "twitter", base: "square-o", class: "pull-right" %>
</footer>

 
  </body>
</html>
